pyTelegramBotAPI
rtoml
rich
aiohttp
openai
redis==4.4.1
loguru
httpx==0.23.3
apscheduler
nltk>=3.8
fastapi>=0.88.0
pydantic
uvicorn
jieba
Pillow
pathlib
elara
numpy
openai-kira>=0.1.6
scikit-learn
transformers
beautifulsoup4
wget
fasttext>=0.9.1
requests>=2.22.0
graiax-silkcoder
graia-broadcast
graia-ariadne==0.10.3
discord.py[voice]