pyTelegramBotAPI
rtoml
rich
aiohttp
openai
redis
loguru
httpx
apscheduler
nltk
fastapi
pydantic
uvicorn
jieba
Pillow
pathlib
numpy
scikit-learn
transformers
beautifulsoup4
azure-cognitiveservices-speech
wget
lxml
fasttext >= 0.9.1
requests >= 2.22.0